body {
}

#header {
    background-color: #EE1E46;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    padding-top: 10px;
    margin-right: 5px;
    color: White;
}

#banner {
    width: 100%;
    max-height: 350px;
}