
.game-next-match {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 400px;
    color: grey;
}

.game-vs {
    width: 100%;
}

    .game-vs img {
        max-width: 120px;
    }

    .game-vs h3 {
        color: #fff;
        font-weight: 700;
        font-size: 18px;
    }

    .game-vs .vs > span {
        display: inline-block;
        font-size: 12px;
        background: #ee1e46;
        padding: 5px 20px;
        border-radius: 30px;
        color: #fff;
        font-weight: 700;
    }

.game-vs-contents {
    padding-bottom: 0px;
}

    .game-vs-contents h4 {
        color: #ee1e46;
        font-size: 16px;
        font-weight: 700;
    }

.game-title {
    padding: 16px 20px;
    color: #fff;
    background-color: #ee1e46;
}

    .game-title h3 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        color: #fff;
        font-weight: 700;
    }

.game-body {
    padding: 20px;
}