.modal-header {
    background-color: #222831;
}

.modal-content {
    background-color: #222831;
    -moz-box-shadow: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: inset 0 -3em 3em #EE1E46, 0 0 0 2px white, 0.3em 0.3em 1em #EE1E46;
}

.modal img {
    max-width: 30%;
    display: inline-block;
    margin-right: 10px;
}

.modal-body div {
    text-align: start;
    display: inline-block;
}

b{
color: #EE1E46;
}

h5 {
    color: #EE1E46;
}

.btn-secondary {
    background-color: #222831;
}

.modal {
    display: block;
}